.slideshow__slides-wrapper {
  position: relative;

  height: 400px;
}

.slideshow__slide {
  left: 0;
  position: absolute;
  top: 0;

  height: 400px;
  width: 100%;

  cursor: grab;
}

.slideshow__slide--active {
  cursor: grabbing;
}

.slideshow__controls {
  align-items: center;
  display: flex;
  justify-content: center;
}

.slideshow-controls__control {
  align-items: center;
  display: flex;
  flex: 0 1 50%;
  justify-content: center;
  padding: 1rem;

  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;

  background-color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 150ms ease-in-out;
}

.slideshow-controls__control:hover {
  background-color: #eee;
}
