.modal {
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;

  align-items: center;
  display: flex;
  justify-content: center;
  padding: 1rem;

  background-color: rgba(0,0,0,0.5);
}

.modal__content {
  max-width: 40rem;
  width: 100%;

  background-color: #fff;
  border-radius: 0.5rem;
}

.modal-content__heading {
  align-items: center;
  display: flex;
  padding: 1rem;

  border-bottom: 1px solid #eee;
}

.modal-content-heading__text {
  flex: 1 1 auto;

  font-size: 2rem;
  font-weight: bold;
}

.modal-content-heading__close {
  height: 2rem;
  margin: 0;
  padding: 0;
  width: 2rem;

  color: #555;
  font-size: 1.5rem;
  font-weight: bold;

  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: color 150ms ease-in-out;
}

.modal-content-heading__close:hover,
.modal-content-heading__close:focus {
  color: var(--red);
}

.modal-content__info {
  padding: 1rem;
}
